// $blue: #00c0ef;
// $turquoise: #3c81df;
// $red: #f56954;
// $green: #6cc788;
// $orange: #f2a654;
// $purple: #926dde;
// $yellow: #f39c12;

$faeria: #00bae8;
$mountain: #cf3201;
$lake: #0091e5;
$forest: #5bb21b;
$desert: #e5a018;
$human: #baa79e;
